<ul class="share-group">
    <li><a href="#" data-toggle="modal" data-target="#about-us">关于我们</a></li>
    <li><a href="#" data-toggle="modal" data-target="#contact-us">联系我们</a></li>
    <li><a href="#" data-toggle="modal" data-target="#thanks">感谢</a></li>
    <li><a href="http://blog.5udou.cn"  target="blank">豆米的博客</a></li>
</ul>
<div class="copy">
    &copy 小米喳-2015-大洋芋
</div>
  <div class = "beiAn">
    <a href="https://beian.miit.gov.cn">浙ICP备15041819号-1</a>
  </div>
