<div id="title">
  <h1>相知贰零壹叁</h1>
</div>
<ul id="main-nav">
  <li>
    <a href="#february">恋爱四步</a>
  </li>
  <li>
    <a href="#may">五月深圳</a>
  </li>
  <li>
    <a href="#june">六月东莞</a>
  </li>
  <li>
    <a href="#october1">十月大理</a>
  </li>
  <li>
    <a href="#october2">十月广州</a>
  </li>
  <li>
    <a href="#november">十一西冲</a>
  </li>
</ul>
<div class="container-fluid" id="meet-content">
  <div class="row item" id="february">
    <div class="four-steps">
      <h1>恋爱四部曲</h1>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <h2>互生情愫</h2>
      <img src="https://blogimage.5udou.cn/imgCommon/loveHeart.png" alt="" />
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <h2>表白成功</h2>
      <img src="https://blogimage.5udou.cn/imgCommon/biaoBai.png" alt="" />
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <h2>磕磕碰碰</h2>
      <img src="https://blogimage.5udou.cn/imgCommon/chaoJia.png" alt="" />
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <h2>更加恩爱</h2>
      <img src="https://blogimage.5udou.cn/imgCommon/enAi.png" alt="" />
    </div>
  </div>
  <div class="row item" id="may">
    <div class="col-xs-4 col-md-4 col-sm-5" id="picture">
      <img
        src="https://blogimage.5udou.cn/imgCommon/shenZhenDaXue.jpg"
        alt=""
      />
    </div>
    <div class="col-md-3 col-sm-3 col-xs-5" id="may-text">
      <h2>深圳大学</h2>
      <p>五月百花齐放</p>
      <p>毕业一年的我们</p>
      <p>流连在花海中</p>
      <p>欣赏这盛开的荷花...</p>
    </div>
    <div class="col-xs-3 col-md-5 col-sm-4" id="picture">
      <img
        src="https://blogimage.5udou.cn/imgCommon/shenZhenDaXue1.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="row item" id="june">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="img-show" id="img-show">
        <div class="big-pic" id="big_pic">
          <ul>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan8_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan0_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan1_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan2_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan3_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan4_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan5_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan6_big.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://blogimage.5udou.cn/imgCommon/dongGuan7_big.jpg"
                alt=""
              />
            </li>
          </ul>
        </div>
        <div class="little_pic">
          <div class="prev_btn1" id="prev_btn1">
            <img src="https://blogimage.5udou.cn/imgCommon/feel3.png" alt="" />
          </div>
          <div class="min-pic clearfix" id="min-pic">
            <ul>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan8.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan0.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan2.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan3.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan4.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan5.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan6.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://blogimage.5udou.cn/imgCommon/dongGuan7.jpg"
                  alt=""
                />
              </li>
            </ul>
          </div>
          <div class="next_btn1" id="next_btn1">
            <img src="https://blogimage.5udou.cn/imgCommon/feel4.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" id="june-text">
      <h2>东莞松山湖</h2>
      <p>六月的雨季</p>
      <p>最适合在濛濛烟雨中</p>
      <p>骑着自行车</p>
      <p>带着你一起环湖</p>
      <p>看那绿油油的草地</p>
    </div>
  </div>
  <div class="row item" id="october1">
    <div class="col-md-6 col-sm-6 col-xs-6" id="oct-img">
      <img src="https://blogimage.5udou.cn/imgCommon/yunNan.jpg" alt="" />
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <h2>大理鹤庆</h2>
      <p>十月的国庆</p>
      <p>一起感受高原的广袤</p>
      <p>一起品味白族的文化</p>
      <p>一起走遍一片片绿油油的大麦地</p>
      <p>然后一起陶醉...</p>
    </div>
  </div>
  <div class="row item" id="october2">
    <div class="col-md-6 col-sm-6 col-xs-6" id="oct-img">
      <img src="https://blogimage.5udou.cn/imgCommon/guangZhou.jpg" alt="" />
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <h2>广州长隆欢乐世界</h2>
      <p>十月的尾巴</p>
      <p>刺激惊险的U型滑板</p>
      <p>一阵阵撕心裂肺的狂叫</p>
      <p>从未体验过的心跳感觉</p>
      <p>还有那童话般的旋转木马</p>
      <p>一路欢乐...</p>
    </div>
  </div>
  <div class="row item" id="november">
    <div class="col-md-6 col-sm-6 col-xs-6" id="nov-img">
      <img src="https://blogimage.5udou.cn/imgCommon/xiChong.jpg" alt="" />
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <h2>深圳西冲</h2>
      <p>稍有凉意的深秋</p>
      <p>海边烧烤、搭帐篷、过夜...</p>
      <p>一起看海边日出</p>
      <p>除了收获那醉人的美景</p>
      <p>更收获了对人生的感悟</p>
    </div>
  </div>
</div>
<a href="#" title="返回顶部" id="topcontrol"></a>
