<div class="container">
  <h2 class="title">不一样的云南之旅</h2>
  <p class="sub-heading">2014年，新的一年有新的开始</p>
  <div class="row" id="yunNan">
    <div class="col-xs-4 col-md-4 col-sm-4">
      <img src="https://blogimage.5udou.cn/imgCommon/yunNan4.jpg" />
      <h3>东山</h3>
    </div>
    <div class="col-xs-4 col-md-4 col-sm-4">
      <img src="https://blogimage.5udou.cn/imgCommon/yunNan5.jpg" />
      <h3>丽江</h3>
    </div>
    <div class="col-xs-4 col-md-4 col-sm-4">
      <img src="https://blogimage.5udou.cn/imgCommon/yunNan6.jpg" />
      <h3>鹤庆</h3>
    </div>
  </div>
  <ul class="nav nav-tabs" role="tablist" id="love-tab">
    <li class="active">
      <a href="#tab-bir" role="tab" data-toggle="tab">3月生日</a>
    </li>
    <li><a href="#tab-art" role="tab" data-toggle="tab">6月艺术馆</a></li>
    <li><a href="#tab-xieZhen" role="tab" data-toggle="tab">7月写真</a></li>
    <li><a href="#tab-midAutumn" role="tab" data-toggle="tab">9月中秋</a></li>
    <li><a href="#tab-marry" role="tab" data-toggle="tab">10月领证</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-bir">
      <div class="row event">
        <div class="col-xs-6 col-md-5 col-sm-6" id="tab-text">
          <h2 class="event-heading">不一样的生日</h2>
          <p>这是给你过的第一个生日</p>
          <p>礼物是小的一份心意，不成敬意</p>
          <p>以后每年的生日小的必定殚精竭虑</p>
          <p>办出水平，办出特色</p>
        </div>
        <div class="col-xs-6 col-md-7 col-sm-6" id="tab-img">
          <img
            class="event-image img-responsive"
            src="https://blogimage.5udou.cn/imgCommon/birthday.jpg"
            alt="birthday"
          />
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-art">
      <div class="row event">
        <div class="col-md-7 col-xs-6 col-sm-6" id="tab-img">
          <img
            class="event-image img-responsive"
            src="https://blogimage.5udou.cn/imgCommon/qiHuanGuan.jpg"
            alt="art"
          />
        </div>
        <div class="col-md-5 col-xs-6 col-sm-6" id="tab-text">
          <h2 class="event-heading">3D奇幻馆</h2>
          <p>虚拟与现实傻傻分不清</p>
          <p>便是3D画馆的最高境界</p>
          <p>貌似我们去的这家水平不够</p>
          <p>粗略地拣几张，大家随意欣赏...</p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-xieZhen">
      <div class="row event">
        <div class="col-md-5 col-xs-6 col-sm-6" id="tab-text">
          <h2 class="event-heading">写真</h2>
          <p>致我们已经逝去的青春</p>
          <p>写真是很好的缅怀方式</p>
          <p>于是乎，各种装扮</p>
          <p>瞬间各种颜值高、御姐型、白富美的造型纷纷出炉...</p>
        </div>
        <div class="col-md-7 col-xs-6 col-sm-6" id="tab-img">
          <img
            class="event-image img-responsive"
            src="https://blogimage.5udou.cn/imgCommon/xieZhen.jpg"
            alt="xieZhen"
          />
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-midAutumn">
      <div class="row event">
        <div class="col-md-7 col-xs-6 col-sm-6" id="tab-img">
          <img
            class="event-image img-responsive"
            src="https://blogimage.5udou.cn/imgCommon/mid-autumn.jpg"
            alt="midAutumn"
          />
        </div>
        <div class="col-md-5 col-xs-6 col-sm-6" id="tab-text">
          <h2 class="event-heading">中秋佳节</h2>
          <p>最珍贵的友情</p>
          <p>最珍贵的亲情</p>
          <p>最珍贵的爱情</p>
          <p>在这个月圆的中秋佳节</p>
          <p>感谢你们的陪伴...</p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-marry">
      <div class="row event">
        <div class="col-md-5 col-xs-6 col-sm-6" id="tab-text">
          <h2 class="event-heading">结婚纪念日</h2>
          <p>10月8日</p>
          <p>我们彼此记住这一天</p>
          <p>这一天是我们对从彼此初识到相恋依赖</p>
          <p>给彼此的一份最圆满的答卷</p>
          <p>相信此生有你有我足矣</p>
        </div>
        <div class="col-md-7 col-xs-6 col-sm-6" id="tab-img">
          <img
            class="event-image img-responsive"
            src="https://blogimage.5udou.cn/imgCommon/lingZheng.jpg"
            alt="marry"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <section class="col-md-7 col-sm-12 col-xs-12">
      <div class="img-section">
        <img
          src="https://blogimage.5udou.cn/imgCommon/yunNan_wedding.jpg"
          alt=""
        />
      </div>
    </section>
    <section class="col-md-5 col-sm-12 col-xs-12">
      <div class="text-section-right">
        <h2>2015·春节</h2>
        <h3>——云南婚礼</h3>
        <p>此刻我们是幸福的</p>
        <p>西装革履、纯白婚纱，未曾想过某一天我们会穿上</p>
        <p>而今带着爸妈的嘱托</p>
        <p>把你的一生托付给我</p>
        <p>你的未来，我与你同行</p>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col-md-5 col-sm-12 col-xs-12">
      <div class="text-section-left">
        <h2>2015·02</h2>
        <h3>——感受永恒和平宁静之地</h3>
        <p>登上4千米的海拔之地</p>
        <p>那画面美得让人窒息</p>
        <p>纯蓝的天空、稀薄的空气、洁白的美雪</p>
        <p>每一样都让你忍不住想多接触</p>
        <p>这样的一片净土，让人恋恋不舍...</p>
      </div>
    </section>
    <section class="col-md-7 col-sm-12 col-xs-12">
      <div class="img-section">
        <img src="https://blogimage.5udou.cn/imgCommon/shangri-La.jpg" alt="" />
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col-md-7 col-sm-12 col-xs-12">
      <div class="img-section">
        <img src="https://blogimage.5udou.cn/imgCommon/westlake.jpg" alt="" />
      </div>
    </section>
    <section class="col-md-5 col-sm-12 col-xs-12">
      <div class="text-section-right">
        <h2>2015·05</h2>
        <h3>——欲把西湖比西子</h3>
        <p>上有天堂下有苏杭</p>
        <p>彼时赶巧，恰与家母、贤妻同游西湖</p>
        <p>垂柳摇曳、湖水涟漪、荷花含苞待开</p>
        <p>一幅活生生的江南美景</p>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="col-md-5 col-sm-12 col-xs-12">
      <div class="text-section-left">
        <h2>2015·09</h2>
        <h3>——与众不同的上海</h3>
        <p>虽是繁华现代的大都市</p>
        <p>但不同于深圳，这里的历史沉淀浓厚</p>
        <p>我们慕名着上海外滩</p>
        <p>坐看了一场灯光秀</p>
      </div>
    </section>
    <section class="col-md-7 col-sm-12 col-xs-12">
      <div class="img-section">
        <img src="https://blogimage.5udou.cn/imgCommon/shangHai.jpg" alt="" />
      </div>
    </section>
  </div>
  <div class="row">
    <div class="wuZhen">
      <h2>乌镇，探寻江南古镇</h2>
    </div>
    <section class="col-md-12 col-sm-12 col-xs-12" id="img-wall">
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen0.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen1.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen2.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen3.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen4.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen5.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen6.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen7.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen8.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen9.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen10.jpg" alt="" />
      <img src="https://blogimage.5udou.cn/imgCommon/wuZhen11.jpg" alt="" />
    </section>
  </div>
</div>
<a href="#" title="返回顶部" id="topcontrol"></a>
