<section class="container-fluid hometown">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
    <div class="row">
      <div class="heQing col-xs-6 col-sm-6 col-md-6">
        <div class="page-left">
          <img
            class="center"
            src="https://blogimage.5udou.cn/imgCommon/heQing.jpg"
            alt="美丽的鹤庆"
          />
          <h2>鹤庆</h2>
          <p>
            高原水乡鹤庆，是滇西北高原上的明珠。那里有最干净的天，有最纯净的水，有最变幻多姿的云。如果说大理是一个山秀水清的魅力城市，丽江是一个清唱心事的情感码头，那么鹤庆则是一个充满传说与神话的美丽小镇，宁静，安然。据说，这里的水潭，是天成的碧玉，藏下了一整个美的世界……
          </p>
        </div>
      </div>
      <div class="dongShan col-xs-6 col-sm-6 col-md-6">
        <div class="page-right">
          <img
            class="center"
            src="https://blogimage.5udou.cn/imgCommon/dongshan.jpg"
            alt="美丽的东山"
          />
          <h2>东山</h2>
          <p>
            东南海岛东山，是闽南沿海地带的宝石。那里有最洁白的沙滩，有最好吃的海鲜，有最淳朴勤劳的渔民。如果说鼓浪屿是一个清新文艺的活泼少女，台湾是一个乡愁满满的成熟男人，那么东山岛则是一个恬静羞涩的帅哥，简单，自然。据说，这里的海滩，是东山的夏威夷，埋着人们对大海的爱意……
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid" id="shenZhen">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6" id="image-section">
      <img
        src="https://blogimage.5udou.cn/imgCommon/shenZhen.jpg"
        alt="深圳市民中心"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6" id="text-section">
      <h2>一切天注定</h2>
      <h3>——————2012年·深圳</h3>
      <p>12年的7月，懵懂稚嫩的我们走出象牙塔</p>
      <p>深圳，这个充满活力青春的城市</p>
      <p>大家都想在这里收获奋斗的青春</p>
      <p>缘分让我们幸运地进入了同一家公司</p>
      <p>慢慢地...</p>
      <p>彼时的青涩在相互合作中消失在欢乐中</p>
      <p>之后的半年，工作中不仅有你，生活中你也慢慢走进了我的圈子</p>
      <p>生活和工作的互帮互助让我们渐渐产生默契</p>
      <p>所谓日久生情，莫过如此了...</p>
    </div>
  </div>
</section>
<div id="focus_Box">
  <div class="title">
    <h2>2012,传说中的“世界末日年”，我们依然玩得很High...</h2>
  </div>
  <span class="prev">&nbsp;</span>
  <span class="next">&nbsp;</span>
  <ul>
    <li>
      <img alt="" src="https://blogimage.5udou.cn/imgCommon/wuTongShan.jpg" />
      <p>在这里，挑战自己，爬上最高的好汉坡</p>
    </li>
    <li>
      <img
        alt=""
        src="https://blogimage.5udou.cn/imgCommon/shiJieZhiChuang.jpg"
      />
      <p>在这里，开拓视野，遍地都是世界的缩影</p>
    </li>
    <li>
      <img alt="" src="https://blogimage.5udou.cn/imgCommon/guLangYu.jpg" />
      <p>在这里，我们寻求一份静谧的倾诉</p>
    </li>
    <li>
      <img alt="" src="https://blogimage.5udou.cn/imgCommon/haiXian.jpg" />
      <p>在这里，放手大吃，等待你的是美味海鲜</p>
    </li>
    <li>
      <img alt="" src="https://blogimage.5udou.cn/imgCommon/shaTan.jpg" />
      <p>在这里，抛开重重限制，释放真实自我</p>
    </li>
  </ul>
</div>
<a href="#" title="返回顶部" id="topcontrol"></a>
